.quoteTable {
  border: 1px solid lightgray;
  margin-top: 40px;
  border-radius: 5px;
  font-size: 12px;
}

.quote-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}

.quote-row:last-child {
  border-bottom: none;
}

.quote-column {
  width: 90px;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(7, 43, 7);
}

.columnNames .quote-column {
  text-transform: capitalize;
  color: gray;
  white-space: normal;
  line-height: normal;
  display: flex;
  align-items: center;
}

.no-results {
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.loading {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  position: absolute;
  background: white;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  font-size: 12px;
}
